





<div class="container-fluid" ng-app="randomMessages" ng-controller="postsController">
    <div class="row">
        <h1 class="col-md-12">Random vk posts</h1>
    </div>
    <div class="row">
        <div class="col-md-1">
            <button ng-click="load()" type="button" class="btn btn-info">Refresh</button>
        </div>
        <div class="col-md-11">
            <div class="row" ng-repeat="x in posts">
                <div class="col-md-1">
                    <img class="img-responsive img-rounded" src="~/Content/img/placeholder.png">
                </div>
                <div class="col-md-10">
                    <span class="editor-label">{{ x.displayName }}</span>
                    <p>{{ x.Text }}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script> 
-->
<script src="~/Scripts/vkRandom/angular.js"></script>
<script src="~/Scripts/vkRandom/postsController.js"></script>